body{
    margin: 0;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}

.top-banner{
    background-image: url(images/donation20.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    background-position: center;
}

.top-banner-item{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.sec{
    margin-bottom: 50px;
} 

.sec item{
    margin-bottom: 20px;
    margin-top: 100px;
}

.top-banner-item h1{
    color: white;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.top-banner-item p{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 1.7;
    font-weight: 300;
}

.donate-button{
    background-image: linear-gradient(rgb(247, 140, 121),rgb(245, 73, 43));
    padding: 15px 40px;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.item{
    text-align: center;
    padding: 0px 300px;
}

.item h1{
    color: black;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.item p{
    color: black;
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 1.7;
    font-weight: 300;
}

.price-box{
    display: flex;
    justify-content: center;
}

.price-box div{
    padding: 25px;
    margin: 30px;
    border-radius: 5px;
    background-image: linear-gradient(rgb(236, 215, 215),rgb(233, 228, 228));
}

#select-box{
    background-image: linear-gradient(rgb(247, 196, 187),rgb(243, 153, 137));
    border: 2px solid tomato;
}

.input-box{
    border: 0px;
    padding: 7px 0;
    border-bottom: 2px solid rgb(43, 41, 41);
    text-underline-offset: 2px;
    margin-left: 20.5%;
    margin-top: 50px;
    width: 60%;
    text-align: center;
    font-size: medium;
}

.sec-0{
    justify-content: center;
    margin-left: 45%;
    margin-bottom: 150px;
}

.container{
    display: flex;
    margin: 20px 200px;
}

.container-box{
    padding: 30px 15px;
    text-align: left;
    margin: 20px 20px;
}

#cont-1{
    background-image: linear-gradient(rgb(212, 228, 212),rgb(195, 226, 195));
}
#cont-2{
    background-image: linear-gradient(rgb(235, 235, 188),rgb(230, 230, 179));
}
#cont-3{
    background-image: linear-gradient(rgb(248, 203, 195),rgb(248, 166, 152));
}

.extra-feature{
    display: flex;
    margin: 20px 10px;
    justify-content: center;
    margin: 40px 20%;
    
}

.row{
    display: flex;
    height: 88%;
    align-items: center;
    margin-left: 10%;
    padding: 50px 60px;
}
 
.col{
    flex-basis: 50%;
}

.row h1{
    color: rgb(219, 64, 64);
    font-size: 50px;
}

.row p{
    color: black;
    font-size: 18px;
    line-height: 15px;
}

.row button{
width: 180px;
color: #fff;
font-size: 12px;
padding: 12px 0px;
background-color: rgb(241, 113, 90);
outline: none;
margin-top: 20px;
border: 0;
border-radius: 20px;
}

.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px,25px;
    box-sizing: border-box;
    margin: 10px 15px;
    cursor: pointer;
    background-position: center;
    background-size: cover;
}

.card1{
    background-image: url(images/donat1.jpg);
}

.card2{
    background-image: url(images/donat2.jpg);
}

.card3{
    background-image: url(images/donat3.jpg);
}

.card4{
    background-image: url(images/donat4.jpg);
}

.email-box-background{
    justify-content: center;
    background-image: linear-gradient(rgb(243, 199, 191),rgb(247, 195, 186));
    padding: 80px 50px;
    margin: 20px 270px;
    
}

.email-box{
 
    margin: 20px 180px;
}

.email-box button{
    padding: 10px 24px;
    background-image: linear-gradient(rgb(245, 157, 142),rgb(241, 61, 29));
    color: white;
    text-decoration: none;
    margin-left: -5px;
    border: none;
}

.email-box input{
    padding: 10px 24px;
    border: none;
}

.footer{
    background-color: rgb(22, 22, 26);
    color: tomato;
    text-align: center;
    height: 150px;
    padding: 20px;
    margin-top: 100px;
    font-family: 'Lobster Two', cursive;
}

.footer p{
    color: white;
}